---
import { getCollection, getEntry } from "astro:content";
const allProjects = await getCollection("projects");
---

<div class="grid md:grid-cols-3 sm:grid-cols-2 gap-4">
  {
    allProjects.map((project) => (
      <a href={`/projects/${project.slug}`} class="">
        <img
          src={project.data.image}
          class="w-full aspect-[4/5] object-cover pointer-events-none bg-gray-800"
        />
      </a>
    ))
  }
</div>

<script>
  // import { gsap } from "gsap";

  // const projects = document.querySelectorAll("img");
  // const featuredProjects = Array.from(projects).slice(0, 3);

  // document.addEventListener("mousemove", (e) => {
  //   const mouseX = e.clientX;
  //   const mouseY = e.clientY;

  //   featuredProjects.forEach((square, index) => {
  //     square.classList.add("absolute");
  //     gsap.to(square, {
  //       x: mouseX,
  //       y: mouseY,
  //       delay: index * 0.05,
  //       duration: 0.3,
  //       ease: "power3.out",
  //     });
  //   });
  // });
</script>
